/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-white dark:bg-base-100 text-gray-900 dark:text-white transition-all ease-in duration-300;
}
